* {
    border-sizing:border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1 rem;
    color:black;
    line-height: 1.5;
    margin: 0%; 
    /* margin 0% made a nice solid container for the nav bar */
   
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    max-width: 100%;
    /* max-width made it go all the way across the page */
}
 
nav li {
    display: inline-block;
    
 }
.nav-list {
    display: inline-block
    margin: 0;
    padding: 1em;
    gap: 1.5rem;
    f
    list-style: none;
    background-color: pink;
    
    
}
nav a:hover {
    color: lightcyan
    
}

nav li:hover {
    background-color:rgb(221, 87, 172);
}

.nav-sub {

    background-color: rgb(221, 87, 172);
display: none;
position: absolute;
padding: 1em;

}    

nav li:hover .nav-sub {
    display: block;

}

nav a {
    text-decoration: none;
    diplay: block;
    
    padding: 1em 1.25em;
    list-style: none;

}
.nav-sub li {
    display: block;
    
    
}

.menu-category {
    margin: 1em 0 0
}

.menu-col-1,
.menu-col-2, 
.menu-col-3 {
    float: left;
}
.menu-col-1 {
    width: 25%
}

